@use './index' as general;

.cartProduct {
  @include general.girassol;
  background-color: white;
  display: grid;
  grid-template-areas:
    'image name'
    'image price'
    'image quantity';
  flex-grow: 1;
  padding: 15px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 5%;
  border-radius: 8px;
  font-weight: 600;
}

@media (max-width: 450px) {
  .cartProduct {
    padding: 0;
    margin-left: 0px;
  }
}

.productImage {
  width: 120px;
  align-self: center;
  margin-bottom: 10px;
  grid-area: image;
}

.title {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
  @include general.aniron;
  // font-weight: 500;
}
.price {
  grid-area: price;
  @include general.generalFont;
  font-size: 1.7rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  justify-content: center;
  grid-area: quantity;
  align-items: center;
}

.textInput {
  border: none;
  width: 3rem;
  text-align: center;
  @include general.generalFont;
  font-weight: 600;
  background-color: transparent;
  font-size: 1.25rem;
  color: black;
}

.adjustBtn {
  height: 2rem;
  width: 2rem;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  @include general.generalFont;
  &:hover {
    cursor: pointer;
  }
}
