@use 'src/index' as general;

$preorder-width: 450px;
$preorder-height: 200px;

.home {
  grid-column: 1/4;
  grid-row: 2/4;
  color: white;
  @include general.generalFont;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
// @media (max-width: 800px) {

// }

.homeMainContent {
  position: absolute;
  left: 12%;
  top: 32%;
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
    @include general.skyrim;
    span {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 1px;
      animation: skyrim;
      animation-delay: 0.5s;
      animation-fill-mode: backwards;
      animation-duration: 2s;
      animation-timing-function: linear;
    }
    p {
      animation: skyrim;
      animation-delay: 1s;
      animation-fill-mode: backwards;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes skyrim {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes preOrderBtn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.preOrderBtn {
  animation: preOrderBtn;
  animation-duration: 1.4s;
  animation-delay: 6s;
  animation-fill-mode: backwards;
  border: none;
  color: black;
  background-color: white;
  width: 150px;
  height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 550;
  @include general.generalFont;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  animation-delay: 2s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 4px 5px 2px rgb(0, 0, 0);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 3px 4px 2px rgb(0, 0, 0);
  }
}

.preorderMsgContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 93vh;
  width: 100vw;
  &.visible {
    background-color: rgba(10, 10, 10, 0.564);
  }
  &.notVisible {
    visibility: hidden;
  }
  &:hover {
    cursor: url('../close-window-16.png'), pointer;
  }
}

.preorderContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: $preorder-width;
  height: $preorder-height;
  left: calc(50vw - ($preorder-width) / 2);
  top: calc(40vh - ($preorder-height) / 2);
  padding: 20px;
  padding-top: 3px;
  color: black;
  background-color: white;
  cursor: pointer;
  p {
    flex-grow: 1;
    line-height: 22px;
    font-size: 1.2rem;
    margin-top: 10px;
    span {
      font-weight: bold;
    }
  }
}

.closePreorderBtn {
  @include general.generalFont;
  border: none;
  height: 3.2rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 4px 5px 2px rgb(0, 0, 0);
    color: black;
    background-color: white;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 3px 4px 2px rgb(0, 0, 0);
  }
  color: black;
  background-color: white;
  width: 100%;
  font-size: 1.2rem;
}
