@use 'src/index' as general;

.navBar {
  display: flex;
  align-items: center;
  gap: 30px;
  grid-area: nav;
  z-index: 1;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  &:hover {
    background-color: #1111117c;
  }
  transition-duration: 0.2s;
  .headerLogo {
    height: 8vh;
  }
  .headerText {
    color: white;
    font-weight: 500;
    @include general.girassol;
    font-size: 1.8rem;
  }
}
@media (min-width: 1920px) {
  .navBar {
    grid-column: 2/3;
  }
}

@media (max-width: 1000px) {
  .navBar {
    background-color: #1111117c;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 3px;
    .navLinks {
      gap: 20px;
      font-size: 1.5rem;
    }
  }
}

.rightNavElements {
  margin: 0 20px 0 20px;
}
.calionCrafting {
  flex-grow: 1;
}

.actionContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  transition-duration: 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
}

.navLinksContainer {
  display: flex;
  align-items: center;
  @include general.hobbit;
  font-size: 1.7rem;
  a {
    width: fit-content;
    list-style: none;
    color: white;
    transition: all 0.2s ease-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    &:active {
      transform: translateY(-1px);
    }
  }
}

@media (min-width: 600px) {
  .rightNavElements {
    margin: 0 40px 0 80px;
  }
}
.cartNav {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  transition: all 0.2s ease-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  &:active {
    transform: translateY(-1px);
    border: none;
  }
  &:focus {
    border: none;
  }
  button {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    img {
      height: 35px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.cart:active {
  border: none;
}

.globalQuantity {
  position: absolute;
  transform: translateX(32px) translateY(-22px);
  font-weight: bolder;
  color: white;
  background-color: black;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include general.skyrim;
  animation: animateQuantity;
  animation-duration: 0.15s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes animateQuantity {
  from {
    transform: translateX(32px) translateY(-22px);
  }
  to {
    transform: translateX(32px) translateY(-22px) scale(1.5);
  }
}
