@use 'src/index' as general;

.navBar {
  background-color: #3a3838dc;
  box-shadow: 1px 1px 3px 2px rgba(5, 5, 5, 0.246);
  display: flex;
  align-items: center;
  gap: 30px;
  grid-area: nav;

  height: 7vh;
}

.calionCrafting {
  flex-grow: 1;
  height: 80%;
}

.actionContainer {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.headerLogo {
  height: 95%;
  margin: 0px 20px 0 40px;
}

.headerText {
  color: white;
  font-weight: 500;
  @include general.girassol;
  font-size: 1.8rem;
}

.navLinks {
  display: flex;
  align-items: center;

  width: 40%;
  a {
    width: fit-content;
    margin-right: 20%;
    list-style: none;
    color: white;
    transition: all 0.2s ease-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    &:active {
      transform: translateY(-1px);
    }
  }
  @include general.girassol;
  font-size: 1.7rem;
}

.cartNav {
  position: relative;
  background-color: transparent;
  border: none;
  @include general.hobbit;
  font-size: 1.7rem;
  transition: all 0.2s ease-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  &:active {
    transform: translateY(-1px);
    border: none;
  }
  &:focus {
    border: none;
  }
  button {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    img {
      height: 35px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.cart:active {
  border: none;
}

.globalQuantity {
  position: absolute;
  transform: translateX(32px) translateY(-22px);
  font-weight: bolder;
  color: white;
  background-color: black;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include general.skyrim;
  transition: all 0.2s ease-out;
}
