@use 'src/index' as general;

.navBar {
  background-color: #3a3838dc;
  // box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.767);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  grid-area: nav;
  @include general.aniron;
  height: 7vh;
}
.headerLogo {
  height: 1.8rem;
}

.headerText {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.navLinks {
  display: flex;
  width: 40%;
  align-items: center;
  .link {
    list-style: none;
    color: white;
    transition: all 0.2s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    &:active {
      transform: translateY(-1px);
    }
  }
  @include general.hobbit;
  font-size: 1.7rem;
}

.cartNav {
  position: relative;
  background-color: transparent;
  border: none;
  @include general.hobbit;
  font-size: 1.7rem;
  // margin-left: 15%;
  transition: all 0.2s ease-out;
  z-index: 2;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  &:active {
    transform: translateY(-1px);
  }
  button {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    img {
      height: 35px;
    }
  }
}
.global {
  position: absolute;
  transform: translateX(32px) translateY(-22px);
  font-weight: bolder;
  color: white;
  background-color: black;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @include general.skyrim;
  transition: all 0.2s ease-out;
}
.pageName {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
  height: 80%;
}

.headerText {
  font-size: 1.5rem;
}
.headerLogo {
  height: 95%;
}
