@use 'src/index' as general;

$checkout-width: 400px;
$checkout-height: 200px;

@keyframes cartContentIn {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  50% {
    opacity: 60;
  }
  to {
    opacity: 100;
  }
}
@keyframes cartContentOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
    transform: translateY(100vh);
  }
}

@keyframes cartBackgroundIn {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 60;
  }
  to {
    opacity: 100;
  }
}
@keyframes cartBackgroundOut {
  from {
    opacity: 100;
  }
  50% {
    opacity: 40;
  }
  to {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

.shoppingCart {
  @include general.generalFont;
  grid-column: 1/4;
  grid-row: 1/4;
  display: grid;
  grid-template-areas: 'div' 'cart';
  grid-template-columns: 3fr 1fr;
  position: relative;
  overflow: auto;
  right: 0;
  overflow: hidden;
  &.start {
    z-index: -1;
  }
  &.visible {
    visibility: visible;
  }
  &.notVisible {
    transition-delay: 0.6s;
    transition-timing-function: ease-out;
    visibility: hidden;
  }
}

@media (max-width: 1200px) {
  .shoppingCart {
    grid-row: 1/4;
    grid-column: 1/2;
    grid-template-areas: 'div' 'cart';
    grid-template-columns: 1fr 1fr;
  }
}

.emptyDiv {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100vh;
  background: rgba(10, 10, 10, 0.564);
  &:hover {
    cursor: url('../close-window-16.png'), pointer;
  }
  &.visible {
    animation: cartBackgroundIn;
    animation-duration: 0.65s;
    animation-timing-function: ease-out;
  }
  &.notVisible {
    animation: cartBackgroundOut;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
  }
}

.cartContainer {
  grid-row: 1/2;
  grid-column: 2/3;
  // transform: translateY(105vh);
  will-change: transform;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  height: 95vh;
  // max-height: 100vh;
  button {
    width: 50%;
  }
  &.visible {
    animation: cartContentIn;
    animation-duration: 0.65s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
  }
  &.notVisible {
    animation: cartContentOut;
    animation-duration: 0.78s;
  }
}

.products {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 160px;
  gap: 20px;
  max-height: 60vh;
  overflow: auto;
  flex-grow: 1;
  margin-top: 50px;
}
.cartControls {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.reset,
.checkout,
.closeCart,
.closeCheckout {
  @include general.generalFont;
  border: none;
  color: white;
  background-color: black;
  height: 3.2rem;
  font-size: 1.3rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.18s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 4px 5px 2px rgb(0, 0, 0);
    color: black;
    background-color: white;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 3px 4px 2px rgb(0, 0, 0);
  }
}

.totalPrice {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  height: 4rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.reset {
  margin-top: 20px;
}

.closeCart {
  position: absolute;
  right: 10px;
  top: 10px;
  width: calc(25vw + 20px);
  color: black;
  background-color: white;
  opacity: 100;
}

.checkoutDiv {
  border-radius: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: $checkout-width;
  height: $checkout-height;
  left: calc(50vw - ($checkout-width) / 2);
  top: calc(40vh - ($checkout-height) / 2);
  padding: 20px;
  padding-top: 3px;
  &.visible {
    background-color: white;
  }
  &.notVisible {
    visibility: hidden;
  }
  p {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 22px;
    font-size: 1.2rem;
  }
}

.closeCheckout {
  color: black;
  background-color: white;
  width: 100%;
  font-size: 1.2rem;
}
