@use './index' as general;

$checkout-width: 400px;
$checkout-height: 200px;

@keyframes cartContentIn {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  50% {
    opacity: 60;
  }
  to {
    opacity: 100;
  }
}
@keyframes cartContentOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
    transform: translateY(100vh);
  }
}

@keyframes cartBackgroundIn {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 60;
  }
  to {
    opacity: 100;
  }
}
@keyframes cartBackgroundOut {
  from {
    opacity: 100;
  }
  50% {
    opacity: 40;
  }
  to {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

.shoppingCart {
  @include general.generalFont;
  grid-column: 1/4;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100vh 0px;
  position: relative;
  overflow: auto;
  right: 0;
  overflow: hidden;
  z-index: 1;
  // &.start {
  //   // z-index: -1;
  // }
  &.visible {
    visibility: visible;
  }
  &.notVisible {
    transition-delay: 0.6s;
    transition-timing-function: ease-out;
    visibility: hidden;
  }
}

@media (max-width: 1200px) {
  .shoppingCart {
    grid-template-areas:
      'div cart'
      'div div';
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100vh 1fr;
    .emptyDiv {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    .cartContainer {
      grid-column: 2/3;
    }
  }
}

@media (max-width: 900px) {
  .shoppingCart {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .shoppingCart {
    grid-template-columns: 30vw 1fr;
    .reset,
    .checkout {
      width: 50vw;
    }
  }
}
@media (max-width: 450px) {
  .shoppingCart {
    grid-template-columns: 50px 1fr;
    .reset,
    .checkout {
      width: 50vw;
    }
  }
}
.emptyDiv {
  grid-column: 1/2;
  grid-row: 1/2;
  // height: 100vh;
  background: rgba(10, 10, 10, 0.564);
  &:hover {
    cursor: url('../Images/close-window-16.png'), pointer;
  }
  &.visible {
    animation: cartBackgroundIn;
    animation-duration: 0.65s;
    animation-timing-function: ease-out;
  }
  &.notVisible {
    animation: cartBackgroundOut;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
  }
  &:focus {
    background-color: red;
  }
}

.cartContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  height: 95vh;
  &.visible {
    animation: cartContentIn;
    animation-duration: 0.65s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
  }
  &.notVisible {
    animation: cartContentOut;
    animation-duration: 0.78s;
  }
}

.products {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 160px;
  gap: 20px;
  max-height: 60vh;
  overflow: auto;
  flex-grow: 1;
  margin-top: 20px;
}
.cartControls {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.reset,
.checkout {
  @include general.generalFont;
  border: none;
  color: white;
  background-color: black;
  height: 3.2rem;
  font-size: 1.3rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.18s;
  width: 50%;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 4px 5px 2px rgb(0, 0, 0);
    color: black;
    background-color: white;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 3px 4px 2px rgb(0, 0, 0);
  }
}

.totalPrice {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  height: 4rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.reset {
  margin-top: 20px;
}

.closeCart,
.closeCheckout {
  position: absolute;
  z-index: 2;
  top: 0.7rem;
  right: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  background-color: transparent;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  &:active {
    transform: scale(1);
  }
}

@keyframes msgBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
$msgBox-width: 400px;
$msgBox-height: 200px;

@keyframes msgBoxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes msgBoxOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.checkoutAuxiliarContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  @include general.dark;
  z-index: 1;
  &:hover {
    cursor: url('../Images/close-window-16.png'), pointer;
  }
  &.visible {
    animation: msgBoxIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
  &.notVisible {
    animation: msgBoxOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
  &.notVisible {
    transition-delay: 0.5s;
    visibility: hidden;
  }
}
.checkoutDiv {
  position: absolute;
  z-index: 2;
  border: solid 1px rgba(198, 196, 196, 0.583);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 1.5rem;
  margin-right: 1rem;
  max-width: $msgBox-width;
  left: calc(50vw - ($msgBox-width) / 2);
  top: calc(40vh - ($msgBox-height) / 2);
  padding: 20px;
  padding-top: 10px;
  color: black;
  background-color: white;
  &:hover {
    cursor: default;
  }
  p {
    flex-grow: 1;
    line-height: 21px;
    font-size: 1.2rem;
    margin-top: 40px;
    span {
      font-weight: bold;
    }
    text-align: justify;
  }
  &.visible {
    animation: msgBoxIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
  &.notVisible {
    animation: msgBoxOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
  &.notVisible {
    transition-delay: 0.5s;
    visibility: hidden;
  }
}

.emptyCart {
  font-size: 1.5rem;
  align-self: center;
}
