@font-face {
  font-family: 'hobbit';
  src: local('hobbit'), url('./fonts/hobbit.ttf') format('truetype');
}

@font-face {
  font-family: 'aniron';
  src: url('./fonts/aniron.ttf') format('truetype');
}
@font-face {
  font-family: 'Elven';
  src: url('./fonts/elven.ttf') format('truetype');
}
@font-face {
  font-family: 'skyrim';
  src: url('./fonts/skyrim.ttf') format('truetype');
}
@font-face {
  font-family: 'girassol';
  src: url('./fonts/girasol.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
}

.main-container {
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 'nav nav nav' 'left main right' 'footer footer footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 9vh auto 5vh;
  height: 100vh;

  &.home {
    background-image: url('./Images/daedric.jpg');
    background-position: 30% 55%;
    background-size: cover;
  }
  &.shop {
    background-image: url('./Images/imladris.jpg');
    background-position: 0% 20%;
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  .main-container {
    grid-template-areas: 'nav' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 50px;
    height: 100vh;
  }
  .home,
  .shop {
    grid-area: main;
  }
  .navBar {
    grid-area: nav;
  }
}

@media (max-width: 800px) {
  .main-container {
    &.home {
      background-image: url('./Images/daedric-90deg.jpg');
      background-position: 70% 55%;
      background-size: 200%;
    }
  }
}
@media (min-width: 1920px) {
  .main-container {
    grid-template-columns: 1fr 1920px 1fr;
    grid-template-rows: 7vh minmax(88vh, 1fr) 5vh;
  }
}

@mixin main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin aniron {
  font-family: aniron;
}
@mixin hobbit {
  font-family: hobbit;
}
@mixin elven {
  font-family: elven;
}
@mixin skyrim {
  font-family: skyrim;
}
@mixin generalFont {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1.5px;
}

@mixin girassol {
  font-family: girassol;
  letter-spacing: 1.5px;
}
